@import url(reset.css);
html{
    background: url(../images/background.png) no-repeat;
    background-size: 100%;
}
header{
    display: flex;
    width: 1030px;
    height:60px;
    margin: 26px auto auto auto;
    justify-content: space-between;
}
header .logo{
    display: flex;
    align-items: center;
}
header .logo a{
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 700;
    display: flex;
    align-items: center;
    color: white;
    text-decoration: none;
    margin-left:8px;
}
header .logo .logo_name_1{
    font-size: 29px;line-height: 29px;
}
header .logo .logo_name_2{
    font-size: 20px;line-height: 20px;
}

header .contacts{
    display: flex;
    flex-direction: column;
    align-items: flex-end;
}

header .contacts a
{
    display: flex;
    align-items: center;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 18px;
    color: white;
    text-decoration: none;
}
.mail:hover{
    color: #F26522;
}
.tel{
    margin-top: 20px;
}
.tel:hover{
    color: #F26522;
}
main{
    width: 1030px;
    margin: 26px auto auto auto;
}
main .cards{
    display: flex;
    row-gap: 40px;
    flex-wrap: wrap;
    justify-content: space-between;
}
main .cards .card{
    width: 300px;
    height: 260px; 
}
.name_card{
    margin-top: 20px;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 18px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #FFFFFF;
    text-decoration: none;
}
.cards .image{
    height: 220px; 
    position:relative;
}
.button{
    opacity: 0;
    position: absolute;
    bottom: 0;
    display:flex;
    width:300px;
    height:55px;
    background-color: #F26522;
}
.button p{
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    color: #FFFFFF;
}
.button a{
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    color: #FFFFFF;
    text-decoration: none;
}
.button .card_from{
    display: block;
    margin: 7px 0px 0px 16px;
    font-size: 10px;
    line-height: 10px;
    display: flex;
    align-items: center;
}
.button .card_price{
    margin: 8px 0px 0px 16px;
    font-size: 20px;
    line-height: 20px;
    display: flex;
    align-items: center;
}
.button .card_details{
    margin: 25px 0px 0px 128px;
    font-size: 14px;
    line-height: 14px;
    display: flex;
    align-items: center;
}
footer p{
    display:block;
    margin-top:60px;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 12px;
    text-align: center;
    color:white;
}
.card:hover .button{
    opacity: 1;
    transition: 0.3s ease 0.1s;
}
.card:hover .name_card{
    color: #F26522;
}

.logo:hover a{
    color: #F26522;
}

.logo .image{
    width: 53px;
    height: 47px;
    background: url(../images/logo.svg);
    background-repeat: no-repeat;
}
.logo:hover .image{
    background-image: url(../images/logo_2.svg);
}

.card_details::after{
    content: "";
    width: 7px;
    height: 13px;
    background-image: url(../images/btn_vector.svg);
    background-repeat: no-repeat;
    margin-left: 10px;
}
.cards .image:hover{
    border: 1px solid transparent;
    border-image: linear-gradient(to bottom, #3acfd5 0%, #3a4ed5 100%);
    border-image-slice: 1;
}